body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
    background-color: rgb(238, 248, 252);
}

section {
    max-width: 768px;
    height: 100%;
    margin-top: 10px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    padding-bottom: 70px;
    text-emphasis: bold;
}

h2 {
    padding-top: 50px;
    text-emphasis: bold;
}

.container {
    max-width: 750px;
    background-color: white;
    border-radius: 5px;
    padding-bottom: 100px;
}

#password {
    width: 100%;
    color: gray;
    border-style: dashed;
    border-radius: 5px;
    height: 150px;
    text-align: center;
    padding: 10px;
}

#generate {
    width: 30%;
    background-color: brown;
    color: white;
    border-radius: 25px;
    float: left;
    padding: 10px 0 10px 0;
    size: 34px;
}

#copy {
    width: 30%;
    background-color: gray;
    color: white;
    border-radius: 25px;
    float: right;
    padding: 10px 0 10px 0;
    size: 34px;
}